<aside id="sidebar" class="sidebar c-overflow">
  <ul class="main-menu">
    <li routerLinkActive="active">
      <a routerLink="/dashboard">
        <i class="zmdi zmdi-home"></i> Dashboard</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/predictions">
        <i class="zmdi zmdi-collection-text"></i> Mis Kinielas</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/groups">
        <i class="zmdi zmdi-accounts"></i> Grupos</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/matches">
        <i class="zmdi zmdi-calendar"></i> Partidos</a>
    </li>
    <!-- <li routerLinkActive="active">
      <a routerLink="/teams">
        <i class="zmdi zmdi-account-box"></i> Teams</a>
    </li> -->
    <li routerLinkActive="active">
      <a routerLink="/stadiums">
        <i class="zmdi zmdi-pin"></i> Estadios</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/news">
        <i class="zmdi zmdi-comment-text"></i> Noticias</a>
    </li>
    <li>
      <a href="" (click)="logout($event);false">
        <i class="zmdi zmdi-run"></i> Salir</a>
    </li>
  </ul>
</aside>